#head{
    display: flex;
    justify-content: center;
    margin-left: 12px;
    transition: all 3s;
}

#head:hover{
    transform: scale(1.2);
}

.robot-body{
    display: flex;
    justify-content: center;
}

.robot-body #chest{
    margin: 0px 12px;
}

.robot-body #left_arm{
    margin-left: 8px;
    transition: all 1s;
}

.robot-body #left_arm:hover{
    transform: rotate(15deg);
}

.robot-body #right_arm{
    transition: all 1s;
}

.robot-body #right_arm:hover{
    transform: rotate(-15deg);
}


.legs{
    display: flex;
    justify-content: center;
    display: flex;
}
.legs #left{
    margin-top: 5px;
    margin-left: 1px;
    transition: all 1s;
}

.legs #left:hover{
    transform: rotate(15deg);
}

.legs #right{
    margin-top: 5px;
    margin-left: 55px;
    transition: all 1s;
}

.legs #right:hover{
    transform: rotate(-15deg);
}


