#opening{
	background-color: rgb(100,110,120);
	color: rgb(200,200,200);
}

.trainer-list{
	background-color: rgb(120,110,100);
	color: rgb(200,200,200);
}

.killed{
	text-decoration: line-through;
	color: red;
}