<!DOCTYPE html>
<html>
    <head>
	<title> Template </title>
	<link rel = "stylesheet" type="text/css" href="template.css">
    </head>
    <body>
	<nav class="navbar">
	    
	    <div class = "elements">
		<a> Item 1 </a> 
		<a> Item 2 </a>
		<a> Item 3 </a>
		<a> Item 4 </a>
		<div class = "right">
		    <a> Item x </a>
		    <a> Item y </a>
		</div>
	    </div>
	</nav>
	
	<header>
	    <img src="Cl.jpg">
	</header>
	
	<section class = "container">
	    <div class = "zone item1"> Item 1 </div>
	    <div class = "zone item2"> Item 2 </div>
	    <div class = "zone item3"> Item 3 </div>
	    <div class = "zone item4"> Item 4 </div>
	    <div class = "zone item5"> Item 5 </div>
	    <div class = "zone item6"> Item 6 </div>
	</section>
	
	<article>
	    GIANT WALL OF TEXT
	</article>
	
	<footer>
	    Just a footer. All rights reserved
	</footer>
	
    </body>
</html>

